<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Grootan Tech</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <h2>User Details</h2>

        <a class="btn btn-outline-dark btn-lg logout" href="/logout" role="button">Log Out</a>
        <div id="accordion">
            <% userDetails.forEach(function(user){ %>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#<%=user.name%>">
                            <%=user.name%>
                        </a>
                    </div>
                    <div id="<%=user.name%>" class="collapse" data-parent="#accordion">
                        <div class="card-body">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name:
                                    <%=user.name%>
                                </li>
                                <li class="list-group-item">Age:
                                    <%=user.age%>
                                </li>
                                <li class="list-group-item">Date of birth:
                                    <%=user.dob.toDateString()%>
                                </li>
                                <li class="list-group-item">Firstname:
                                    <%=user.firstName%>
                                </li>
                                <li class="list-group-item">Lastname:
                                    <%=user.lastName%>
                                </li>
                                <li class="list-group-item">Address 1:
                                    <%=user.more[0].address1%>
                                </li>
                                <li class="list-group-item">Address 2:
                                    <%=user.more[1].address2%>
                                </li>
                                <li class="list-group-item">Phone no:
                                    <%=user.more[2].phoneno%>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% });%>
        </div>

    </div>

    <%- include('partials/footer') %>